@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nprogress-color: #ea6060;
}

body,
html {
  @apply h-screen w-screen overflow-hidden overscroll-contain bg-white text-[13px] font-medium text-dark dark:bg-dark dark:text-gray-200 2xl:text-[14px];
}

body {
  @apply border-t-[0.5px] border-gray-100 dark:border-dark-100;
}

svg {
  shape-rendering: auto;
  vector-effect: non-scaling-stroke;
}
/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  @apply bg-white dark:bg-[#666666b3];
}

*::-webkit-scrollbar-thumb {
  @apply rounded-[3px] bg-[#666666b3] dark:bg-white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #666666b3 transparent;
}

[cmdk-overlay] {
  @apply fixed inset-0 z-40 block h-screen w-screen bg-black/10 backdrop-blur-[0.5px];
}

.ProseMirror-focused {
  @apply outline-none;
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

ul[data-type="taskList"] p {
  margin: 0;
}

ul[data-type="taskList"] li {
  @apply flex items-center;
}

ul[data-type="taskList"] li input {
  @apply relative top-[0.2rem] h-[1.1rem] w-[1.1rem] accent-primary;
}

ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

ul[data-type="taskList"] li ul li,
ul[data-type="taskList"] li ol li {
  display: list-item;
}

ul[data-type="taskList"] > li ul[data-type="taskList"],
ul[data-type="taskList"] > li ol[data-type="taskList"] {
  display: flex;
}

.tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  @apply pointer-events-none float-left h-0 text-gray-250/80 dark:text-gray-200/60;
}

.tiptap input[type="checkbox"] {
  @apply h-[1.1rem] w-[1.1rem] accent-primary;
}

/* style tiptap tables */
.tiptap table {
  @apply w-full table-auto border-collapse;
}
.tiptap table td,
th {
  @apply border border-gray-100 dark:border-dark-50;
}
.tiptap table p {
  @apply m-0;
}
.tiptap table th {
  @apply bg-gray-50/80 font-semibold text-black dark:bg-dark-100 dark:text-gray-50;
}
.tiptap table td,
th {
  @apply relative px-2 py-2.5 text-left;
}
.tiptap table tr {
  @apply transition odd:bg-gray-50/80 hover:bg-gray-50/60 dark:odd:bg-dark-300/80 dark:hover:bg-dark-300;
}

.tiptap table .column-resize-handle {
  @apply pointer-events-none absolute -bottom-[1px] -right-[2px] top-0 z-[5] w-1 bg-gray-200 dark:bg-dark-50;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

/*** Works on common browsers ***/
::selection {
  @apply bg-primary text-dark;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  @apply bg-primary text-dark;
}

/***For Other Browsers ***/
::-o-selection {
  @apply bg-primary text-dark;
}

::-ms-selection {
  @apply bg-primary text-dark;
}

/*** For Webkit ***/
::-webkit-selection {
  @apply bg-primary text-dark;
}

/* this is for sonner */
[data-close-button] {
  @apply dark:hover:!border-dark-50 hover:dark:!bg-dark-100;
}

/* CSS color for nprogress */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress &:after {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#nprogress .bar {
  @apply fixed left-0 top-0 h-[3px] w-full bg-primary;
  z-index: 19031 !important;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
