@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply text-[13px] text-gray-300 dark:bg-dark dark:text-gray-200;
}

.ProseMirror-focused {
  @apply outline-none;
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

ul[data-type="taskList"] p {
  margin: 0;
}

ul[data-type="taskList"] li {
  @apply flex items-center;
}

ul[data-type="taskList"] li input {
  @apply relative top-[0.2rem] h-[1.1rem] w-[1.1rem] accent-primary;
}

ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

ul[data-type="taskList"] li ul li,
ul[data-type="taskList"] li ol li {
  display: list-item;
}

ul[data-type="taskList"] > li ul[data-type="taskList"],
ul[data-type="taskList"] > li ol[data-type="taskList"] {
  display: flex;
}

.tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  @apply pointer-events-none float-left h-0 text-gray-250/80 dark:text-gray-200/60;
}

/*** Works on common browsers ***/
::selection {
  @apply bg-primary text-dark;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  @apply bg-primary text-dark;
}

/***For Other Browsers ***/
::-o-selection {
  @apply bg-primary text-dark;
}

::-ms-selection {
  @apply bg-primary text-dark;
}

/*** For Webkit ***/
::-webkit-selection {
  @apply bg-primary text-dark;
}
