# Git
.git
.gitignore

# Build artifacts
tmp/
bin/
dist/
coverage/

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# IDE specific files
.idea/
.vscode/

# Air configuration for local development
.air.toml

# Dependency directories
vendor/
node_modules/

# Logs
*.log

# Temporary files
*.tmp
*.swp
.DS_Store
*.out
*.prof
*_test.go

# Local environment files (don't include sensitive data)
.env
.env.local 
