@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-*: initial;
  /* Primary Colors */
  --color-primary: #f43f5e;
  --color-secondary: #002f61;

  /* Base Colors */
  --color-black: red;
  --color-white: #ffffff;
  --color-transparent: transparent;
  --color-current: currentColor;

  /* Status Colors */
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-danger: #f43f5e;
  --color-info: #06b6d4;

  --color-gray: #5f5f5f;
  --color-gray-50: #f7f7f7;
  --color-gray-100: #e8e8e8;
  --color-gray-200: #d1d1d1;
  --color-gray-300: #9e9e9e;
  --color-gray-400: #7d7d7d;

  --color-dark: #0c0d0e;
  --color-dark-50: #25282b;
  --color-dark-100: #1d1f22;
  --color-dark-200: #16181a;
  --color-dark-300: #101214;
}
