@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-*: initial;
  /* Primary Colors */
  --color-primary: #f43f5e;
  --color-secondary: #002f61;

  /* Base Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-transparent: transparent;
  --color-current: currentColor;

  /* Status Colors */
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-danger: #f43f5e;
  --color-info: #06b6d4;

  /* Gray Scale */
  /* --color-gray: #6b665c;
  --color-gray-50: #f8f6f2;
  --color-gray-100: #ece9e4;
  --color-gray-200: #dad6d0;
  --color-gray-250: #5e5a52;
  --color-gray-300: #a19b94; */

  --color-gray: #5f5f5f;
  --color-gray-50: #f7f7f7;
  --color-gray-100: #e8e8e8;
  --color-gray-200: #d1d1d1;
  --color-gray-300: #9e9e9e;
  --color-gray-400: #7d7d7d;

  /* Dark Scale */
  /* --color-dark: #09090b;
  --color-dark-50: #3f3f46;
  --color-dark-100: #262626;
  --color-dark-200: #171717;
  --color-dark-300: #101214; */

  --color-dark: #0a0a0a;
  --color-dark-50: #3f3f3f;
  --color-dark-100: #262626;
  --color-dark-200: #171717;
  --color-dark-300: #0f0f0f;
}
