{{ define "content" }}
<p class="eyebrow">Workspace status</p>
<h1 class="heading">You have restored {{ .WorkspaceName }}</h1>
<p class="text">
  Your workspace has been successfully restored. All workspace data, including
  users, work items, comments, and teams are accessible again.
</p>
<p class="text">You can now continue working with your team as usual.</p>
<div class="button-container">
  <a href="{{ .WorkspaceURL }}" class="button">Open workspace</a>
</div>
<p class="meta">Restored by</p>
<p class="text">{{ .ActorName }} ({{ .ActorEmail }})</p>
{{ end }}
