{{ define "content" }}
<div>
  <h1 class="heading">Your login link for {{ .CompanyName }}</h1>
  <p class="text">
    Click the button below to securely log in to your account. This link will
    expire in {{ .ExpiresIn }}.
  </p>
  <div class="button-container">
    <a href="{{ .VerificationURL }}" class="button" style="color: white">
      Login to {{ .CompanyName }}
    </a>
  </div>
  <p class="text">
    If you didn't request this login link, you can safely ignore this email.
  </p>
</div>
{{ end }}
