@import "tailwindcss";

article {
  @apply font-sans antialiased md:px-24 md:pt-10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold pb-3;
}

aside a,
aside button {
  @apply rounded-[0.4rem] px-2.5 py-2;
}
img {
  @apply rounded-[0.4rem];
}
